@media screen and (min-width: 702px) {
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDD;
    font-family: 'Arial';
}
.title {
    top: 30px;
    position: relative;
}

h1{
    font-size: 80px;
}

.logo{
    width: 150px;
    height: 100px;
}

.nav_tabs {
    width: 750px;
    height: 270px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
}

.nav_tabs ul {
    list-style: none;
}

.nav_tabs ul li {
    float: left;
}

.nav_tabs label {
    width: 100px;
    height: 40px;
    padding: 25px;
    background-color: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    font-size: 15px;
}

.rd_tabs:checked ~ label{
    background-color: #e54e43;
}

.rd_tabs{
    display: none;
}

.content {
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: none;
    position: absolute;
    height: 200px;
    width: 750px;
    left: 0;
    top: 270px;
}

.Conteudo {
    display: none;
}


.rd_tabs:checked ~ .content {
    display: inline;
}

.rd_tabs:checked ~ .Conteudo {
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: block;
    position: absolute;
    height: auto;
    width: 750px;
    left: 0px;
    right: 0px;
    top: 200%;
}

.content span.Estrangeira{
    position: relative;
    margin-left: 215px;
    top: 70px;
}

.content span.Nacional{
    position: relative;
    top: 70px;
}

.content input.nacional {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 38px;
    margin-left: 0.1em;
    text-align: right;
    width: 140px;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}

.content input {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 38px;
    margin-left: 0.1em;
    text-align: right;
    width: 140px;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}
.symbol {
    color: #d8d8d8;
    font-size: 38px;
}

.conteudo {
    width: 750px;
    height: 250px auto;
    text-align: left;
    background-color: #fff;
    position: relative;
    top: 211px;
    margin: 100px auto;
}

}