@media screen and (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #DDD;
        font-family: 'Arial';
    }
    .title {
        top: 50px;
        position: relative;
    }
    
    h1{
        font-size: 120px;
    }
    
    .logo{
        width: 250px;
        height: 150px;
    }
    
    .nav_tabs {
        width: 70%;
        height: 66.2%;
        margin: 100px auto;
        background-color: #363b48;
        position: relative;
    }
    
    .nav_tabs ul {
        list-style: none;
    }
    
    .nav_tabs ul li {
        float: left;
    }
    
    .nav_tabs label {
        width: 300px;
        height: 98px;
        padding: 15px;
        background-color: #363b48;
        display: block;
        color: #fff;
        font-size: 36px;
        cursor: pointer;
        text-align: center;
        position: relative;
    }
    
    .rd_tabs:checked ~ label{
        background-color: #e54e43;
    }
    
    .rd_tabs{
        display: none;
    }
    
    .content {
        border-top: 5px solid #e54e43;
        background-color: #fff;
        display: none;
        position: absolute;
        height: 40%;
        width: 100%;
        left: 0;
        top: 100%;
    }
    
    .rd_tabs:checked ~ .content {
        display: inline;
    }
    
    .content span.Estrangeira{
        position: relative;
        margin-left: 20%;
        top: 45%;
    }
    
    .content span.Nacional{
        position: relative;
        top: 45%;
    }
    
    .content input.nacional {
        font-weight: 400;
        color: #909090;
        font-stretch: 100%;
        background: transparent;
        border: 0;
        font-size: 64px;
        margin-left: 0.1em;
        text-align: right;
        width: 40%;
        height: 44px;
        min-width: 0;
        max-width: none;
        padding: 10px;
        text-align-last: justify;
    }
    
    .content input {
        font-weight: 400;
        color: #909090;
        font-stretch: 100%;
        background: transparent;
        border: 0;
        font-size: 64px;
        margin-left: 0.1em;
        text-align: right;
        width: 20%;
        height: 44px;
        min-width: 0;
        max-width: none;
        padding: 10px;
        text-align-last: justify;
    }
    .symbol {
        color: #d8d8d8;
        font-size: 24px;
    }
    }

    @media screen and (min-width: 558px) {

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDD;
    font-family: 'Arial';
}
.title {
    top: 30px;
    position: relative;
}

.nav_tabs {
    width: 70%;
    height: 83.2%;
    margin: 100px auto;
    background-color: #363b48;
    position: relative;
}

.nav_tabs ul {
    list-style: none;
}

.nav_tabs ul li {
    float: left;
}

.nav_tabs label {
    width: 300px;
    height: 98px;
    padding: 15px;
    background-color: #363b48;
    display: block;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.rd_tabs:checked ~ label{
    background-color: #e54e43;
}

.rd_tabs{
    display: none;
}

.content {
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: none;
    position: absolute;
    height: 61%;
    width: 100%;
    left: 0;
    top: 100%;
}

.rd_tabs:checked ~ .content {
    display: inline;
}

.content span.Estrangeira{
    position: relative;
    margin-left: 15%;
    top: 35%;
}

.content span.Nacional{
    position: relative;
    top: 35%;
}

.content input.nacional {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 38px;
    margin-left: 0.1em;
    text-align: right;
    width: 40%;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}

.content input {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 38px;
    margin-left: 0.1em;
    text-align: right;
    width: 20%;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}
.symbol {
    color: #d8d8d8;
    font-size: 38px;
}
}

@media screen and (max-width: 700px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #DDD;
        font-family: 'Arial';
    }
    .title {
        top: 30px;
        position: relative;
    }
    
    .nav_tabs {
        width: 70%;
        height: 83.2%;
        margin: 100px auto;
        background-color: #363b48;
        position: relative;
    }
    
    .nav_tabs ul {
        list-style: none;
    }
    
    .nav_tabs ul li {
        float: left;
    }
    
    .nav_tabs label {
        width: 300px;
        height: 98px;
        padding: 15px;
        background-color: #363b48;
        display: block;
        color: #fff;
        font-size: 36px;
        cursor: pointer;
        text-align: center;
        position: relative;
    }
    
    .rd_tabs:checked ~ label{
        background-color: #e54e43;
    }
    
    .rd_tabs{
        display: none;
    }
    
    .content {
        border-top: 5px solid #e54e43;
        background-color: #fff;
        display: none;
        position: absolute;
        height: 61%;
        width: 100%;
        left: 0;
        top: 100%;
    }
    
    .rd_tabs:checked ~ .content {
        display: inline;
    }
    
    .content span.Estrangeira{
        position: relative;
        margin-left: 15%;
        top: 35%;
    }
    
    .content span.Nacional{
        position: relative;
        top: 35%;
    }
    
    .content input.nacional {
        font-weight: 400;
        color: #909090;
        font-stretch: 100%;
        background: transparent;
        border: 0;
        font-size: 38px;
        margin-left: 0.1em;
        text-align: right;
        width: 40%;
        height: 44px;
        min-width: 0;
        max-width: none;
        padding: 10px;
        text-align-last: justify;
    }
    
    .content input {
        font-weight: 400;
        color: #909090;
        font-stretch: 100%;
        background: transparent;
        border: 0;
        font-size: 38px;
        margin-left: 0.1em;
        text-align: right;
        width: 20%;
        height: 44px;
        min-width: 0;
        max-width: none;
        padding: 10px;
        text-align-last: justify;
    }
    .symbol {
        color: #d8d8d8;
        font-size: 38px;
    }
    }

    @media screen and (min-width: 702px) {

        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-color: #DDD;
            font-family: 'Arial';
        }
        .title {
            top: 30px;
            position: relative;
        }
        
        h1{
            font-size: 80px;
        }
        
        .logo{
            width: 150px;
            height: 100px;
        }
        
        .nav_tabs {
            width: 750px;
            height: 270px;
            margin: 100px auto;
            background-color: #fff;
            position: relative;
        }
        
        .nav_tabs ul {
            list-style: none;
        }
        
        .nav_tabs ul li {
            float: left;
        }
        
        .nav_tabs label {
            width: 100px;
            height: 40px;
            padding: 25px;
            background-color: #363b48;
            display: block;
            color: #fff;
            cursor: pointer;
            text-align: center;
            position: relative;
            font-size: 15px;
        }
        
        .rd_tabs:checked ~ label{
            background-color: #e54e43;
        }
        
        .rd_tabs{
            display: none;
        }
        
        .content {
            border-top: 5px solid #e54e43;
            background-color: #fff;
            display: none;
            position: absolute;
            height: 200px;
            width: 750px;
            left: 0;
            top: 270px;
        }
        
        .rd_tabs:checked ~ .content {
            display: inline;
        }
        
        .content span.Estrangeira{
            position: relative;
            margin-left: 215px;
            top: 70px;
        }
        
        .content span.Nacional{
            position: relative;
            top: 70px;
        }
        
        .content input.nacional {
            font-weight: 400;
            color: #909090;
            font-stretch: 100%;
            background: transparent;
            border: 0;
            font-size: 38px;
            margin-left: 0.1em;
            text-align: right;
            width: 140px;
            height: 44px;
            min-width: 0;
            max-width: none;
            padding: 10px;
            text-align-last: justify;
        }
        
        .content input {
            font-weight: 400;
            color: #909090;
            font-stretch: 100%;
            background: transparent;
            border: 0;
            font-size: 38px;
            margin-left: 0.1em;
            text-align: right;
            width: 140px;
            height: 44px;
            min-width: 0;
            max-width: none;
            padding: 10px;
            text-align-last: justify;
        }
        .symbol {
            color: #d8d8d8;
            font-size: 38px;
        }
        }