@media screen and (min-width: 0px){
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDD;
    font-family: 'Arial';
}
.title {
    top: 50px;
    position: relative;
}

h1{
    font-size: 42px;
}

.logo{
    width: 150px;
    height: 75px;
}
.nav_tabs {
    width: 250px;
    height: 480px;
    margin: 100px auto;
    background-color: #363b48;
    position: relative;
}

.nav_tabs ul {
    list-style: none;
}

.nav_tabs ul li {
    float: left;
}

.nav_tabs label {
    width: 95px;
    height: 30px;
    padding: 15px;
    background-color: #363b48;
    display: block;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.rd_tabs:checked ~ label{
    background-color: #e54e43;
}

.rd_tabs{
    display: none;
}

.content {
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: none;
    position: absolute;
    height: 40%;
    width: 100%;
    left: 0;
    top: 100%;
}

.Conteudo {
    display: none;
}

.rd_tabs:checked ~ .content {
    display: inline;
}

.rd_tabs:checked ~ .Conteudo {
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 140%;
}

.content span.Estrangeira{
    position: relative;
    margin-left: 20%;
    top: 45%;
}

.content span.Nacional{
    position: relative;
    top: 45%;
}

.content input.nacional {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 24px;
    margin-left: 0.1em;
    text-align: right;
    width: 40%;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}

.content input {
    font-weight: 400;
    color: #909090;
    font-stretch: 100%;
    background: transparent;
    border: 0;
    font-size: 24px;
    margin-left: 0.1em;
    text-align: right;
    width: 20%;
    height: 44px;
    min-width: 0;
    max-width: none;
    padding: 10px;
    text-align-last: justify;
}
.symbol {
    color: #d8d8d8;
    font-size: 24px;
}

.conteudo {
    width: 250px;
    height: 250px auto;
    text-align: left;
    background-color: #fff;
    max-width: 550px;
    position: relative;
    top: 220px;
    margin: 100px auto;
}

}